@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", Arial, sans-serif;
  background: #061a14;
  color: white;
}

#root {
  min-height: 100vh;
}

.section-space {
  margin-bottom: 10rem;
}
